{% if pagination.pages > 1 %}
  <nav role="navigation" class="pagination-nav">
    {% if pagination.previous %}
      <a
        href="{{ pagination.previous.url }}"
        class="previous-button"
        >Previous</a
      >
    {% endif %}

    {% if pagination.next %}
      <a
        href="{{ pagination.next.url }}"
        class="next-button "
        >Next</a
      >
    {% endif %}
  </nav>
{% endif %}
