<div class="collection-section">
  <a href="{{ routes.collections_url }}" class="go-back-button"> Go back to collections</a>
  {% paginate collection.products by section.settings.number_of_products_per_page %}
    <h1 class="collection-header">{{ collection.title }}</h1>
    <div class="collection-grid-wrapper">
      <div class="collection-grid">
        {% for product in collection.products %}
          {% render 'product-card', product: product %}
        {% else %}
          <p>There are no products inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}
