.bp-template-blog {
	/* padding: 32px 0; */
	background-color: #f9f9f6;
	font-family: "Figtree", serif;
}
.bp-article-container {
	width: 1258px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
@media (max-width: 1365px) {
	.bp-article-container {
		width: 1106px;
	}
}
@media (max-width: 1199px) {
	.bp-article-container {
		width: 906px;
	}
}
@media (max-width: 991px) {
	.bp-article-container {
		width: 686px;
	}
}
@media (max-width: 767px) {
	.bp-article-container {
		height: fit-content;
		width: 100%;
	}
}

.bp-header {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto Serif";
	font-size: 46px;
	font-weight: 600;
}
@media (max-width: 991px) {
	.bp-header {
		font-size: 26px;
	}
}

.filter-drawer-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 767px) {
	.filter-drawer-container {
		padding: 0 16px;
	}
}

/* Filter Drawer Starts */

.filter-drawer-opener {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 14px;
	border: 1px solid #aaa;
	border-radius: 40px;
	padding: 12px 20px;
	color: #747474;
}
.filter-drawer-opener:hover {
	cursor: pointer;
}

.bp-filter-overlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: #212121;
	opacity: 0.3;
	z-index: 9999;
	top: 0;
	left: 0;
}

.bp-filter-container {
	margin-left: auto;
	margin-right: 2rem;
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: 0.3;
	left: 0;
}

.bp-filter-drawer-container {
	width: 42%;
	height: 100%;

	position: fixed;
	background: #ffffff;
	z-index: 9999;
	top: 0;
	overflow-y: auto;
	scrollbar-width: thin;
	left: -150vh;
	transition: 0.75s;
}
@media (max-width: 991px) {
	.bp-filter-drawer-container {
		width: 100%;
	}
}
.bp-filter-drawer {
	width: calc(100% - ((100vw - 1292px) / 2) - 2rem);
	margin-left: auto;
	margin-right: 2rem;
	margin-top: 140px;
	/* margin: 5rem 2rem 5rem auto; */
}
@media (max-width: 1300px) {
	.bp-filter-drawer {
		width: calc(100% - ((100vw - 1200px) / 2) - 2rem);
	}
}
@media (max-width: 1199px) {
	.bp-filter-drawer {
		width: calc(100% - ((100vw - 992px) / 2) - 2rem);
	}
}
@media (max-width: 991px) {
	.bp-filter-drawer {
		width: calc(100% - ((100vw - 768px) / 2) - 2rem);
		margin-top: 60px;
	}
}
@media (max-width: 767px) {
	.bp-filter-drawer {
		width: calc(100% - ((100vw - 600px) / 2) - 1rem);
	}
}
@media (max-width: 640px) {
	.bp-filter-drawer {
		width: calc(100% - ((100vw - 480px) / 2) - 1rem);
	}
}
@media (max-width: 499px) {
	.bp-filter-drawer {
		width: calc(100% - ((100vw - 360px) / 2) - 1rem);
	}
}
@media (max-width: 370px) {
	.bp-filter-drawer {
		width: calc(100% - ((100vw - 310px) / 2) - 1rem);
	}
}

.bp-filter-drawer-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 32px;
}
.bp-filter-drawer-title {
	margin: 0;
	color: #212121;
	font-family: "Roboto Serif";
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
}

.bp-filter-drawer-content {
	/* overflow-y: scroll; */
	scrollbar-width: thin;
}

.bp-filter-drawer-inner-items {
	border-top: 1px solid #ededed;
	padding: 20px 0 16px;
}
.bp-filter-drawer-parameter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #747474;
	cursor: pointer;
}
.bp-filter-drawer-parameter h2 {
	margin: 0;
	color: #747474;
	font-family: "Figtree";
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.expanded .dropdown-down-icon {
	transform: rotateX(180deg);
	transition: transform 0.2s ease-in-out;
}
.collapsed .dropdown-down-icon {
	transform: rotateX(0deg);
	transition: transform 0.2s ease-in-out;
}

.bp-filter-tag-list-container {
	margin-top: 16px;
	height: fit-content;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: thin;
}
.expanded .bp-filter-tag-list-container {
	max-height: 350px;
	visibility: visible;
	transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.collapsed .bp-filter-tag-list-container {
	max-height: 0;
	visibility: hidden;
	transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.bp-filter-tag-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}
.bp-filter-tag-label {
	color: black;
	font-size: 16px;
	margin-left: 16px;
	cursor: pointer;
}
.bp-filter-tag-checkbox {
	height: 22px;
	width: 22px;
	cursor: pointer;
}
.bp-filter-tag-checkbox:checked {
	border: none;
	accent-color: white;
}

.bp-filter-drawer-close-button:hover {
	cursor: pointer;
}

.bp-filter-drawer-footer {
	background-color: #fff;
	padding: 2rem 0;
	border-top: 1px solid #ededed;
	position: sticky;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bp-filter-drawer-footer .clear-tags {
	background-color: #fff;
	border: 1px solid #aaa;
	color: #747474;
	text-align: center;
	font-family: "Figtree";
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 16px 48px;
	border-radius: 100vh;
	cursor: pointer;
}
.bp-filter-drawer-footer .apply-filters {
	background-color: #f9cd3a;
	border: 1px solid #f9cd3a;
	border: none;
	color: #212121;
	text-align: center;
	font-family: Figtree;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	text-transform: uppercase;
	padding: 16px 48px;
	border-radius: 100vh;
	cursor: pointer;
}

@media (max-width: 480px) {
	.bp-filter-drawer-footer .clear-tags,
	.bp-filter-drawer-footer .apply-filters {
		padding: 16px 32px;
	}
}

/* Filter Drawer Ends */

.article-count {
	color: #747474;
}
.bp-article-grid {
	display: grid;
	gap: 34px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (max-width: 991px) {
	.bp-article-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
@media (max-width: 767px) {
	.bp-article-grid {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding: 0 16px;
	}
}

.bp-article-card {
	height: 100%;
	width: 100%;
	border: 1px solid #f1eee4;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.bp-article-image-container {
	width: 100%;
	aspect-ratio: 1 / 1;
}
.bp-article-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.bp-article-details-container {
	height: 300px;
}
.bp-article-details {
	padding: 22px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.bp-article-title {
	margin: 0;
	padding: 0;
	font-family: "Roboto Serif";
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}
.bp-aritcle-excerpt p {
	margin: 0;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.bp-author-info {
	display: flex;
	gap: 16px;
}
.bp-author-image {
	border-radius: 50%;
}
.bp-author-name {
	font-weight: 600;
}
