.cart-section {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-heading-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 72rem;
}

.cart-heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cart-heading h1 {
	font-weight: 500;
}

.continue-shopping-button {
	color: #2563eb;
	font-size: medium;
	font-weight: 550;
}
.continue-shopping-button:hover {
	color: #15367e;
}

.cart-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 72rem;
	padding-top: 1rem;
}

.cart-form {
	width: 100%;
}
.cart-table {
	width: 100%;
	border-collapse: collapse;
}

.cart-table th {
	font-size: 14px;
	color: #828489;
}
