.fa-featured-articles {
	background-color: #f9f9f6;
	font-family: "Figtree", serif;
}
@media (max-width: 767px) {
	.fa-featured-articles {
		padding: 0 16px;
	}
}

.fa-article-container {
	padding: 48px 0;
	width: 1322px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 42px;
}
@media (max-width: 1366px) {
	.fa-article-container {
		width: 1168px;
	}
}
@media (max-width: 1199px) {
	.fa-article-container {
		width: 968px;
	}
}
@media (max-width: 991px) {
	.fa-article-container {
		width: 748px;
	}
}
@media (max-width: 767px) {
	.fa-article-container {
		width: 100%;
	}
}

.fa-article-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.fa-article-section-title {
	margin: 0;
	font-family: "Roboto Serif";
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}

.fa-all-articles-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	text-decoration: none;
	color: #747474;
}
.fa-all-articles-arrow-svg {
	position: relative;
	width: fit-content;
	height: 50px;
	z-index: 10;
	background: #e7e7da;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
}
.fa-all-articles-arrow-svg:hover {
	cursor: pointer;
	background: #01200f;
}
.fa-all-articles-arrow-svg:hover svg path {
	stroke: white;
}

.fa-article-slider {
	/* margin-left: 30px; */
}

.featured-articles-swiper {
	width: 100% !important;
	overflow: visible !important;
}

.fa-swiper-custom-property {
	height: 686px !important;
	width: 406px !important;
}
@media (max-width: 1366px) {
	.fa-swiper-custom-property {
		height: 679px !important;
		width: 399px !important;
	}
}
@media (max-width: 1199px) {
	.fa-swiper-custom-property {
		height: 634px !important;
		width: 354px !important;
	}
}
@media (max-width: 991px) {
	.fa-swiper-custom-property {
		height: 621px !important;
		width: 341px !important;
	}
}
@media (max-width: 767px) {
	.fa-swiper-custom-property {
		height: 605px !important;
		width: 325px !important;
	}
}
@media (max-width: 480px) {
	.fa-swiper-custom-property {
		height: 560px !important;
		width: 284px !important;
	}
}

.fa-article-card {
	height: 100%;
	width: 100%;
	border: 1px solid #f1eee4;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.fa-article-image-container {
	height: 406px;
}
.fa-article-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.fa-article-details-container {
	height: 280px;
}
.fa-article-details {
	padding: 22px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
@media (max-width: 1366px) {
	.article-details {
		gap: 26px;
	}
}
.fa-article-title {
	margin: 0;
	padding: 0;
	font-family: "Roboto Serif";
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}
.fa-aritcle-excerpt {
	color: #747474;
	/* font-family: Figtree; */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.fa-aritcle-excerpt p {
	margin: 0;
}
.fa-article-link-button {
	color: #747474;
}

@media (max-width: 480px) {
	.all-articles-link {
		font-size: 14px;
		gap: 5px;
	}
	.sc-articles-section-title,
	.fa-article-title {
		font-size: 20px;
	}

	.fa-aritcle-excerpt,
	.fa-article-link-button {
		font-size: small;
	}
}

@media (max-width: 320px) {
	.fa-swiper-custom-property {
		height: 540px !important;
		width: 266px !important;
	}
}
