.c__mega-nav {
	border: 1px solid #e7e7da;
	border-right-width: 0px;
	border-left-width: 0px;
	font-family: "Figtree", serif;
}

.c__mega-nav-elements-container {
	width: 1322px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 1366px) {
	.c__mega-nav-elements-container {
		width: 1168px;
	}
}
@media (max-width: 1199px) {
	.c__mega-nav-elements-container {
		width: 968px;
	}
}
@media (max-width: 991px) {
	.c__mega-nav-elements-container {
		display: none;
	}
}

.c__mega-nav .c__mega-nav-elements-container ul {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 2rem;
}
.c__mega-nav .c__mega-nav-elements-container ul > li {
	list-style: none;
	padding: 16px 0;
	margin: 0;
	cursor: pointer;
}
.c__mega-nav-menu-border-bottom {
	border-bottom: 3px solid #f9cd3a;
}
.c__mega-nav .c__mega-nav-elements-container ul > li > a {
	text-decoration: none;
	color: black;
}

.mega-nav-dropdown {
	width: 100%;
	display: none;
	position: absolute;
	z-index: 999999;
	background-color: white;
	left: 0;
	top: 139px;
	border-bottom: 1px solid #e7e7da;
	box-shadow: 0 1px 8px -2px #0000001a;
}
.dropdown-element-container {
	width: 1322px;
	margin: 0 auto;
	padding: 2rem 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
}
@media (max-width: 1366px) {
	.dropdown-element-container {
		width: 1168px;
	}
}
@media (max-width: 1199px) {
	.dropdown-element-container {
		width: 968px;
	}
}
@media (max-width: 991px) {
	.dropdown-element-container {
		width: 748px;
	}
}
@media (max-width: 767px) {
	.dropdown-element-container {
		width: 100%;
		padding: 0 1rem;
	}
}

.mega-nav-collection-details {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.mega-nav-collection-details > a {
	color: #000000;
}
.mega-nav-collection-title {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}
.mega-nav-collection-description p {
	margin: 0;
}

.mega-nav-product-details {
	margin: 0;
}

.mega-nav-product-image-container {
	display: block;
	width: 306px;
	height: 190px;
}
@media (max-width: 1366px) {
	.mega-nav-product-image-container {
		width: 288px;
		height: 175px;
	}
}
@media (max-width: 1199px) {
	.mega-nav-product-image-container {
		width: 218px;
		height: 160px;
	}
}
@media (max-width: 991px) {
	.mega-nav-product-image-container {
	}
}
.mega-nav-product-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.mega-nav-product-details {
	display: block;
	text-decoration: none;
	color: #000;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.mega-nav-product-title {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.customer-support {
	font-size: 14px;
}
.customer-support .help-link {
	color: black;
}

/* Mobile Version */
.c__mobile-menu-icon {
	position: absolute;
	top: 30px;
	right: 16px;
	display: none;
}
@media (max-width: 991px) {
	.c__mobile-menu-icon {
		display: block;
	}
}

.c__mobile-side-nav {
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9999;
	width: 70%;
	background-color: rgb(53, 51, 94);
}
.hidden {
	display: none;
}

@media (max-width: 991px) {
	.c__mobile-side-nav {
		width: 70%;
	}
}
@media (max-width: 767px) {
	.c__mobile-side-nav {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.c__mobile-side-nav {
		display: none;
	}
}

.c__icon-button {
	border: none;
	background: none;
	color: #ffffff;
	padding: 0;
}

.c__mobile-side-nav-content {
	padding-bottom: 16px;
}
.c__mobile-side-nav-content ul {
	width: 100%;

	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-between;
}
.c__mobile-side-nav-content ul > li {
	width: 100%;
	list-style: none;
	margin: 0;
	cursor: pointer;
	border-bottom: 1px solid #e7e7da;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.c__mobile-side-nav-content-header {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mobile-dropdown-element-container {
	padding: 0 16px 16px 32px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mobile-sidebar-product-container {
	display: flex;
	align-items: center;
	gap: 32px;
}

.mobile-sidebar-product-image-container {
	display: block;
	width: 140px;
	height: 90px;
}

.mobile-nav-product-title {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	color: white;
}
