/* Swipper CSS */
.swiper-service-slider {
	padding: 0 32px 54px 32px;
}
.service-pagination-arrows {
	font-weight: bolder;
	font-size: 20px;
	padding: 9px 0;
	height: 10px;
	width: 30px;
	border-radius: 50%;
}
.service-pagination-arrows::after {
	font-size: 18px;
}
.service-swiper-pagination {
	color: black;
	bottom: 16px !important;
}
.service-swiper-pagination .swiper-pagination-bullet {
	border-radius: 0;
	border: 1px solid rgb(213, 210, 210);
	height: 10px;
	width: 10px;
}
.service-swiper-pagination .swiper-pagination-bullet-active {
	background: #fa4b00 !important;
}

.service-swiper-custom-property {
	height: 100%;
}

/* /////////// */

.our-services {
	background: linear-gradient(245deg, #531800 0%, #1d1d1b 49%);
	color: white;
	font-weight: 400;
	padding: 32px 32px 64px 32px;
	display: flex;
	flex-direction: column;
	gap: 100px;
	line-height: 2rem;
}

.section-header {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 24px;
	align-items: center;
}
.text-over-section-title {
	font-weight: 600;
	font-size: 20px;
	color: #fa4b00;
	text-transform: uppercase;
}
.section-title {
	font-weight: 500;
	font-size: 40px;
	text-transform: uppercase;
}
.section-subtitle {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin-bottom: 8px;
}
.divider-line {
	display: block;
	width: 47px;
	border-bottom: 2px solid #fa4b00;
	/* margin-top: 35px; */
	margin: 0 auto;
}
.section-content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.service-grid {
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.service {
	display: flex;
	gap: 16px;
	justify-content: space-between;
	align-items: start;
}
.service-image {
	width: 60px;
	height: 60px;
}
.service-placeholder-image {
	color: #fa4b00;
}
.service-description h2 {
	margin: 0;
	font-weight: 600;
	margin-bottom: 16px;
}
.divider-line-on-left {
	display: block;
	width: 47px;
	border-bottom: 2px solid #fa4b00;
}
.service-description p {
	font-size: 17px;
	line-height: 1.8rem;
}

@media (max-width: 1100px) {
	.service-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.service {
		flex-direction: column;
		align-items: center;
	}

	.service-description h2 {
		text-align: center;
	}

	.service-description p {
		text-align: center;
	}

	.divider-line-on-left {
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.service-grid {
		display: none;
	}
	.section-title {
		font-size: x-large;
	}
	.section-subtitle {
		font-size: medium;
	}
	.service {
		width: 80%;
		margin: 0 auto;
	}
	.service-description h2 {
		color: #fa4b00;
		font-size: large;
	}
	.service-description p {
		font-size: small;
	}
}
@media (min-width: 768px) {
	.service-slide {
		display: none;
	}
}
