.small-card-article-collection-container {
	background-color: #f9f9f6;
}
@media (max-width: 767px) {
	.small-card-article-collection-container {
		padding: 0 16px;
	}
}
.small-card-article-collection {
	padding: 48px 0;
	width: 1322px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 42px;
}
@media (max-width: 1366px) {
	.small-card-article-collection {
		width: 1168px;
	}
}
@media (max-width: 1199px) {
	.small-card-article-collection {
		width: 968px;
	}
}
@media (max-width: 991px) {
	.small-card-article-collection {
		width: 748px;
	}
}
@media (max-width: 767px) {
	.small-card-article-collection {
		width: 100%;
	}
}
.sc-articles-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}
.sc-articles-section-title {
	margin: 0;
	font-family: "Roboto Serif";
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}
.all-articles-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}
.all-articles-arrow-svg {
	position: relative;
	width: fit-content;
	height: 50px;
	z-index: 10;
	background: #e7e7da;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
}
.all-articles-arrow-svg:hover {
	cursor: pointer;
	background: #01200f;
}
.all-articles-arrow-svg:hover svg path {
	stroke: white;
}

.sc-article-slider {
	/* margin-left: 30px; */
}

.swiper-small-article-card {
	width: 100% !important;
	overflow: visible !important;
}

.small-swiper-custom-property {
	height: 686px !important;
	width: 406px !important;
}
@media (max-width: 1366px) {
	.small-swiper-custom-property {
		height: 679px !important;
		width: 399px !important;
	}
}
@media (max-width: 1199px) {
	.small-swiper-custom-property {
		height: 634px !important;
		width: 354px !important;
	}
}
@media (max-width: 991px) {
	.small-swiper-custom-property {
		height: 621px !important;
		width: 341px !important;
	}
}
@media (max-width: 767px) {
	.small-swiper-custom-property {
		height: 605px !important;
		width: 325px !important;
	}
}
@media (max-width: 480px) {
	.small-swiper-custom-property {
		height: 580px !important;
		width: 300px !important;
	}
}

.small-article-card {
	height: 100%;
	width: 100%;
	border: 1px solid #f1eee4;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.small-article-image-container {
	height: 406px;
}
.small-article-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.small-article-details-container {
	height: 280px;
}
.small-article-details {
	padding: 22px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.small-article-title {
	margin: 0;
	padding: 0;
	font-family: "Roboto Serif";
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
}
.small-aritcle-excerpt {
	color: #747474;
	/* font-family: Figtree; */
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
.small-aritcle-excerpt p {
	margin: 0;
}
.small-article-link-button {
	color: #747474;
}

@media (max-width: 480px) {
	.all-articles-link {
		font-size: 14px;
		gap: 5px;
	}
	.sc-articles-section-title,
	.small-article-title {
		font-size: 20px;
	}

	.article-content,
	.small-article-link-button {
		font-size: small;
	}
}

@media (max-width: 320px) {
	.small-swiper-custom-property {
		height: 540px !important;
		width: 280px !important;
	}
}
